@import "../../scss/variables", "../../scss/mixins";

.navbar {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: $dark;

  a {
    text-decoration: none;
    color: $light;
    padding: 1rem 1.5rem;
    &:hover {
      background-color: $light;
      color: $dark;
    }
  }
}

@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}

@include media-sm {
  .navbar {
    flex-direction: row;
  }
}
